{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Your Balance: </h2> 
        <p class="balance">{{ transaction_sum }}</p>

        <div class="wrapper">
            <div class="income">
            <h3>Income</h3>
            <p>{{income_sum}}</p>
            </div>
            <div class="expense">
            <h3>Expense</h3>
            <p>{{expense_sum}}</p>
            </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <label>Description</label>
            <input type="text" name="description" required>

            <label>Amount</label>
            <input type="number" name="amount" required>

            <button type="submit">Add Transaction</button>
        </form>
        <h3>Transactions</h3>
        <div class="transactions">
            {% for obj in transaction_objs %}
                <div class="transaction {% if obj.amount < 0 %}negative{% else %}possitive{% endif %}">
                    <span>{{ obj.description }}</span>
                    <span>{{ obj.amount }}</span>
                </div>
            {% empty %}
                <p class="empty">No transactions yet</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>